<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VENTAS</title>
    <link href='../css//ventas.css' rel='stylesheet'>
    <!--    -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!--header-->
    <header>
        <!--nav-->
        <div class="nav container">
            <a href="#" class="logo">ACME</a>
            <!--icon-->
            <i class='bx bx-shopping-bag' id="cart-icon"></i>
            <!--carrito-->
            <div class="cart">
                <h2 class="cart-title">carrito de compras</h2>
                <div class="cart-content">
                
                  
                </div>
                <i class='bx bx-x' id="close-cart"></i>
            
                    
                
             <!--- total-->
             <div class="total">
             <div class="total-title">TOTAL</div>
             <div class="total-price">$0</div>
            </div>
            <!--seccion boton de comprar-->
            <button type="button" class="btn-buy">pagar</button>
            <!--seccion cerrar carrito-->
        
        </div>
       
    </div>
    </header>
    <!--contenedor tienda-->
    <section class="shop container">
        <div class="section-title">SELECIONE SUS PRODUCTOS</div>
        <!--contenedor prodtos-->

        <div class="shop-content">
           


        </div>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script type="text/javascript" async="async" src="../js/bootstrap.js"></script>   
<script src="../js/ventas.js"></script>
</html>