<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VENTAS</title>
    <link href='../css/ventas.css' rel='stylesheet'>
    <!--    -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!--header-->
    <header>
        <!--nav-->
        <div class="nav container">
            <a href="#" class="logo">ACME</a>
            <!--icon-->
      
            <i class='bx bx-money-withdraw'></i>
           
       
    </div>
    </header>
    <!--contenedor tienda-->
    <section class="shop container">
        <div class="section-title">ventas realizadas</div>
        <!--contenedor prodtos-->

        <div class="shop-content">    
        </div>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script type="text/javascript" async="async" src="../js/bootstrap.js"></script>   
<script src="../js/consultar_ventas.js"></script>
</html>